<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://mssql5.gear.host:1433</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping resource="pl/io4/model/database/config/CashRegisterEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.CashRegisterEntity"/>
        <mapping resource="pl/io4/model/database/config/CategoryEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.CategoryEntity"/>
        <mapping resource="pl/io4/model/database/config/EmployeeEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.EmployeeEntity"/>
        <mapping resource="pl/io4/model/database/config/ProductEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.ProductEntity"/>
        <mapping resource="pl/io4/model/database/config/ShopEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.ShopEntity"/>
        <mapping resource="pl/io4/model/database/config/TaxRuleEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.TaxRuleEntity"/>
        <mapping resource="pl/io4/model/database/config/TransactionEntity.hbm.xml"/>
        <mapping class="pl.io4.model.database.entities.TransactionEntity"/>
        <mapping resource="pl/io4/model/database/config/TransactionEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>